@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bk-color: #0C1A0D;
    --primary-color: #40D952;
    --primary-gray: #353b36;
    --light-gray: #d6e4db;
    --text-color: #ffffff;
    --name-color: #e2a114;
    --member-color: #14b9e2;
}
